.avatarpics {
  border-radius: 60%;
  height: 40px;
}

.avaNbody {
  display: flex;
}

.messagebody {
  align-content: center;
  justify-items: center;
  background-color: lightgrey;
  border-radius: 8px;
  padding-top: 11px;
  padding-left: 10px;
  padding-right: 15px;
}

.userName {
  padding-left: 40px;
  font-size: 14px;
}

.chat-message {
  padding-top: 20px;
}

.userName {
  padding-bottom: 5px;
}

.messagebody {
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
}

.messagebody-sent {
  float: right;
  right: 50px;
  justify-items: center;
  background-color: #5eb0e5;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.chat-message-sent {
  padding: 20px;
}

/* /test  */
